@font-face {
  font-family: 'Stage Grotesk';
  src: url('/fonts/StageGrotesk-Light.woff2') format('woff2'),
    url('/fonts/StageGrotesk-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stage Grotesk';
  src: url('/fonts/StageGrotesk-Light.woff2') format('woff2'),
    url('/fonts/StageGrotesk-Light.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
