@import './fonts.scss';
@import './tailwind.css';

.hero-start {
  margin-top: 100px;
}

.hero-start {
  ul {
    display: flex;
    flex-flow: row;
    gap: 0;
    flex-wrap: wrap;
    li {
      height: 80vh;
      width: 50%;
      display: block;
      height: 80vh;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      &:first-child {
        width: 100%;
      }
      img {
        height: 80vh !important;
        object-fit: cover;
      }
    }
  }
}

.featured-products {
  ul {
    display: grid;
    margin: 0 0 100px 0;
    li {
      > div {
        width: 100%;
      }
      img {
        width: 100%;
      }
    }
  }
}

.collection-page {
  ul {
    display: grid;
  }
}

.detail-image-gallery {
  div {
    display: block;
    position: relative;
  }
}

// .detail-wrapper {
//   @media screen and (min-width: 1024px) {
//     margin-top: 100px;
//   }
// }

@media screen and (min-width: 1024px) {
  .container-product-detail {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
  }
  .Gallery {
    flex: 1;
  }
  .Right {
    flex: 1;
    order: 1;
  }
  .content-right {
    position: absolute;
    left: 50%;
    top: 400px;
    z-index: 11;
  }
  .Product-Sidebar {
    position: sticky;
    top: 100px;
    align-self: flex-start;
    right: 0;

    .portableText {
      padding: 0;
    }
  }
}

.Product-Sidebar {
  h1 {
    font-size: 2rem;
  }
}
